.footer {
  height: 150px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer__icon {
      margin-bottom: 8px;
      i {
        font-size: 32px;
        color: $dark-gray;
      }
    }
    span {
      font-size: 8px;
      color: $dark-gray;
    }
  }
}
