.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-profile__header {
    margin-bottom: 16px;
    .user-avatar {
      margin-bottom: 16px;
    }
    .user-name {
      font-size: 16px;
    }
  }
  button {
    font-size: 14px;
  }
  .uploaded-videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
